<% form_for :search, {:url => "/products/index?[product_type]=#{@controller.product_type}"} do |f|%>
	<%= f.label :auction_end_between%>
	<%= f.text_field :minimum_days_until_end_of_auction, :size => 8 %> - <%= f.text_field :maximum_days_until_end_of_auction, :size =>8%>
	<%= f.label :Pagerank_between%> 
	<%= f.text_field :pagerank_gte, :size => 8  %> - <%= f.text_field :pagerank_lte, :size => 8 %>
	<%= f.label :Users_daily_between%> 
	<%= f.text_field :users_daily_gte, :size => 8  %> - <%= f.text_field :users_daily_lte, :size => 8 %>
	<%= f.label :Words_number_between%> 
	<%= f.text_field :words_number_gte, :size => 8  %> - <%= f.text_field :words_number_lte, :size => 8 %>
	<%= f.label :Nr_of_links_inside%> 
	<%= f.text_field :number_of_links_gte, :size => 8  %> - <%= f.text_field :number_of_links_lte, :size => 8 %>
	<% for category in Category.all %>
 		<%= check_box_tag("search[categories_attributes][]",category.id,  params[:search] && params[:search][:categories_attributes] && params[:search][:categories_attributes].include?(category.id.to_s)) %>
 		<%= category.name %>
 		<br/>
	<% end %>
  	<%=f.submit "Search"%>
	<% end %>
<table>
<tr>
	<td bgcolor="red">
		
	</td>
	<td>
		Start
	</td>
	<td>
		End
	</td>
	<td>
		Pagerank
	</td>
	<td>
		Users daily
	</td>
	<td>
		Current price
	</td>

	<td>
		Number of words
	</td>
	<td>
		Number of links
	</td>
</tr>

<% @products.each do |product| %>
<tr>
	<td>
		<%= link_to "Show", {:action => "show", :id => product.id, :product_type => "sponsored_article"} %>
	</td>
	<td>
		<%=product.auction.start%>
	</td>
	<td>
		<%=product.auction.end%>
	</td>
	<td>
		<%=product.pagerank%>
	</td>
	<td>
		<%=product.users_daily%>
	</td>
	
	<td>
		<%=product.auction.highest_bid %><!--< #TODO! CURRENT PRICE !product.current_price> -->
	</td>
	<td>
		<%= product.words_number%>
	</td>
	<td>
		<%= product.number_of_links%>
	</td>
</tr>
<% end %>

</table>