<table>
<tr>
	<td bgcolor="red">
		
	</td>
	<td>
		Start
	</td>
	<td>
		End
	</td>
	<td>
		Pagerank
	</td>
	<td>
		Users daily
	</td>
	<td>
		Minimal price
	</td>
	<td>
		Current price	
	</td>
	<td>
		Number of products
	</td>
</tr>

<% @products.each do |product| %>
<tr>
	<td>
		<%= link_to "Show", {:action => "show/#{product.id}", :product_type => "site_link"} %>
	</td>
	<td>
		<%=product.auction.start%>
	</td>
	<td>
		<%=product.auction.end%>
	</td>
	<td>
		<%=product.pagerank%>
	</td>
	<td>
		<%=product.users_daily%>
	</td>
	<td>
		<%=product.auction.minimal_price > 0 ? product.auction.minimal_price.to_s : "-"%>
	</td>
	<td>
		<!--< #TODO! CURRENT PRICE !product.current_price> -->
	</td>
	<td>
		<%= product.auction.number_of_products%>
	</td>
</tr>
<% end %>

</table>