<h3> site url : </h3>  
<%= @product.url %> <br />
<h3> pagerank : </h3>
<%= @product.pagerank %> <br />
<h3> daily users : </h3>
<%= @product.users_daily %> <br />
<h3> Approximate number of words in article : </h3>
<%= @product.words_number %> <br />
<h3> Number of links in article : </h3>
<%= @product.number_of_links %> <br />