<%= render :partial => "show_#{@product.class}"%>
<h3> auction start date : </h3>
<%= @product.auction.start%><br/>
<h3> auction end date : </h3>
<%= @product.auction.end%><br/>

<% if @product.auction.buy_now_price > 0 %>
	<h3> buy now price : </h3>
	<%= @product.auction.buy_now_price %> <br />
<% end %>

<p>
	<%= @product.auction.description %>
</p>